@model List<PRN_Project.ModelView.CartItem>
@{
    ViewData["Title"] = "Index";
    Layout = null;
    var returnUrl = Context.Request.Query["ReturnUrl"];
}


@using Microsoft.AspNetCore.Http;
<!DOCTYPE html>
<!-- === Coding by CodingLab | www.codinglabweb.com === -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- ===== Iconscout CSS ===== -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- ===== CSS ===== -->
    <link rel="stylesheet" href="/assets/css/cart.css">

    <!--<title>Login & Registration Form</title>-->
</head>
<body>

    <div class="card">
        <div class="row">
            <div class="col-md-8 cart">
                <div class="title">
                    <div class="row">
                        <div class="col"><h4><b>Shopping Cart</b></h4></div>
                        <div class="col align-self-center text-right text-muted">@Model.Count() items</div>
                    </div>
                </div>

                @if (Model != null && Model.Count() > 0)
                {
                    foreach (var item in Model)
                    {
                        <div class="row border-top border-bottom">
                            <div class="row main align-items-center">
                                <div class="col-2"><img class="img-fluid" src="@item.product.Img"></div>
                                <div class="col">
                                    <div class="row">@item.product.Name</div>
                                </div>
                                <div class="col">
                                    <a asp-controller="ShoppingCart"
                                            asp-action="Subtract"
                                            asp-route-id="@item.product.Id">-</a>
                                    
                                    <a href="#" class="border"> @item.amount

                                    </a>
                                    
                                    <a asp-controller="ShoppingCart"
                                            asp-action="AddToCart"
                                            asp-route-id="@item.product.Id">+</a>
                                </div>
                                <div class="col">
                                    &euro; @item.TotalMoney
                                    <a class=""
                                            asp-controller="ShoppingCart"
                                            asp-action="Remove"
                                            asp-route-id="@item.product.Id"><span class="close">&#10005;</span></a>
                                </div>
                            </div>
                        </div>
                        
                    }
                }
                <div class="back-to-shop"><a asp-controller="Home" asp-action="Index">&leftarrow;</a><span class="text-muted">Back to shop</span></div>
            </div>
            <div class="col-md-4 summary">
                <div><h5><b>Summary</b></h5></div>
                <hr>
                <div class="row">
                    <div class="col" style="padding-left:0;">@Model.Count() ITEMS</div>
                    <div class="col text-right">&euro; @Model.Sum(x => x.TotalMoney)</div>
                </div>
                <form>
                    <p>SHIPPING</p>
                    <select><option class="text-muted">Standard-Delivery- &euro;5.00</option></select>
                </form>
                <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                    <div class="col">TOTAL PRICE</div>
                    <div class="col text-right">&euro; @Model.Sum(x => x.TotalMoney + 5)</div>
                </div>
                @if ( @Context.Session.GetString("username") == null){
                    <button class="btn"> 
                        <a asp-controller="Accounts" asp-action="Index" style="color: #fff">
                            CHECKOUT</a>
                            </button>
                } 
                else
                {    <button class="btn">
                        <a asp-controller="Checkout" asp-action="Index" style="color: #fff">
                            CHECKOUT
                        </a>
                    </button>
                }

                
            </div>
        </div>

    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>
</html>


